@use '../styles/shared'

.aboutus
    &--container
        margin-top: 5em
    &-dev-container
        display: flex
        flex-direction: row
        justify-content: space-between
        gap: 1em
        & i
            margin-right: 0.5em
    &-dev-description
        width: 300px
        display: flex
        flex-direction: column
        justify-content: space-around
    &--picture
        border: 2px solid shared.$purple-base-color