@use '../styles/shared'

.globalsearch
    width: 100%
    height: 100%
    background-color: rgb(0,0,0,0.8)
    backdrop-filter: blur(10%)
    position: fixed
    top: 0
    left: 0
    z-index: 100
    display: flex
    justify-content: center
    align-items: center

.magnifying
    position: relative
    left: 3em

.button-close-search
    background-color: transparent
    border: 1px solid transparent
    border-radius: 1em
    font-size: 2em
    i
        color: gray
        &:hover
            animation: spinning 0.75s linear 1
            scale: 1.1
// ul 
//     position: relative
//     top: 0%
//     margin-top: -1px
//     width: 100%
//     z-index: 1
//     background: transparent
//     margin: 0
//     list-style: none
//     transition: none
//     padding: 0
//     display: none
a
    text-decoration: none
    color: white
    list-style: none
   
.search-result
    background: transparent
    width: 400px
    margin-top: 10px
    position: relative
    
    &::-webkit-scrollbar 
        display: none

.search-suggestion-line
    padding: 10px 20px
    cursor: pointer
    font-size: 18px
    display: block
    &:hover
        background: gray
        text-decoration: none
        color: white
        list-style: none
    &.active
        background: gray


    

    

