@use '../styles/shared'

.profile-picture-container
    position: absolute
    right: 3em
    top: 1.5em
    
.profile-edit-button
    background-color: shared.$green-base-color
    border-radius: 1em
    color: white
    border: none

.profile-input
    background: transparent
    border: none
    border-bottom: 1px solid #333
    outline: none
    color: #1aa186
    text-shadow: 0 0 5px #0d715d
    font-size: 1.1em
    font-weight: 600
    margin-bottom: 1em
    


.profile-info
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 75%
    & p
        font-size: 1.1em
        font-weight: 600
        margin-bottom: 1em
    & span
        font-size: 0.8em
        font-weight: 300
    
    
    
    
    



    
