@use '../styles/shared'

.profile-picture-container
    position: absolute
    right: 5em
    top: 2em
    
.profile-edit-button
    background-color: shared.$green-base-color
    border-radius: 1em
    color: white
    border: none

.profile-edit-input
    background: transparent
    border: none
    border-bottom: 1px solid #333
    outline: none
    color: #1aa186
    text-shadow: 0 0 5px #0d715d
    font-size: 1.1em
    font-weight: 600
    margin-bottom: 1em

.profile-edit p
    font-size: 1.1em
    font-weight: 600
    margin-bottom: 1em
.profile-edit span
    font-size: 0.8em
    font-weight: 300
