@use '../styles/shared'

.profile-picture-container
    position: absolute
    right: 3rem
    top: 1.5rem
    

.profile-input
    border: none
    border-bottom: 1px solid #333
    background: transparent
    color: #0d715d
    outline: none
    margin-bottom: 1rem
    font-size: 1.2rem
    text-shadow: 0 0 5px shared.$green-base-color
    


.profile-info
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 75%
    & p
        font-size: 1.1rem
        font-weight: 600
    
.profile-button
    display: flex
    justify-content: center
    align-items: center
    
    



    

    
    
    
    



    