@use "./shared"
$layer1: linear-gradient(45deg, shared.$dark-gray-base-color 80%, shared.$green-base-color 130%) padding-box
$layer2: linear-gradient(60deg, shared.$dark-gray-base-color 0%, shared.$dark-gray-base-color 30%, shared.$green-base-color 120%) border-box

.navbar
    &-link
        text-decoration: none
        color: white
        display: flex
        flex-direction: row
        gap: 1em
        &:hover
            text-decoration: none
            color: shared.$green-base-color

    &custom
        width: 16em

    &-icons
        height: 20em
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 1em
        align-items: center
        i
            font-size: 1.5em
            &:hover
                color: shared.$blue-base-color !important
                scale: 1.4
                transition: 200ms

    &-profilepicture
        height: 3em
        width: 3em
        border-radius: 50%
        object-fit: contain
        cursor: pointer
        transition: 750ms
        &:hover
            scale: 1.2
            transform: rotate(360deg)

    &-offcanvas-icons
        height: 14em
        display: flex
        flex-direction: column
        justify-content: flex-start
        gap: 1em
        text-decoration: none
i
    color: white

.offcanvas
    &-body
        display: flex
        flex-direction: column
        justify-content: space-between
    &-button
        background-color: shared.$green-base-color
        padding: 0.5em
        border-radius: 1em
        border: none
        color: white
    &-input
        background-color: shared.$black-base-color
        border: 1px solid transparent
        border-radius: 1em
        padding: 0.5em
        width: 10.5em
        color: white
        &:focus
            background: $layer1, $layer2
            outline: 1px solid transparent
            caret-color: shared.$green-base-color
        &::placeholder
            color: shared.$green-base-color
        &:focus::placeholder
            color: #555
