$dark-gray-base-color: #1d1d1d
$black-base-color: #161616
$blue-base-color: #4fa2ff
$green-base-color: #0d715d
$yellow-base-color: #ffd155
$pink-base-color: #fdc799
$purple-base-color: #A200EA

.navbar-margin
    margin-left: 6em


        

.green--button
    width: 8em
    border: none
    border-radius: 1em
    background-color: $green-base-color
    padding: 0.2em 1em 0.2em 1em
    color: white
    &:hover
        scale: 1.1 
        transition: 200ms
    &:active
        box-shadow: 0 0 25px 10px $green-base-color
.purple--button
    width: 8em
    border: none
    border-radius: 1em
    background-color: $purple-base-color
    padding: 0.2em 1em 0.2em 1em
    color: white
    &:hover
        scale: 1.1 
        transition: 200ms
    &:active
        box-shadow: 0 0 25px 10px $purple-base-color

