$dark-gray-base-color: #1d1d1d
$black-base-color: #161616
$blue-base-color: #4fa2ff
$green-base-color: #0d715d
$yellow-base-color: #ffd155
$pink-base-color: #fdc799

.navbar-margin
    margin-left: 6em
