@use '../styles/shared'


.single-portfolio--button
    height: 3rem
    width: 15rem !important
    position: absolute
    top: 2rem
    right: 2rem
    &-added
        height: 3rem
        width: 3rem !important
        border-radius: 50% !important
        padding: 0 !important
        position: absolute
        top: 2rem
        right: 2rem
        & i
            font-size: 1.5em !important
