@use '../styles/shared'

.contenedor-de-prueba
    /* border: 1px solid shared.$blue-base-color
    border-radius: 2em
    width: 800px
    height: 250px
    padding: 2em
    color: white

/* .parrafo-de-prueba
