@use '../styles/shared'

$layer1: linear-gradient(45deg, shared.$dark-gray-base-color 80%, shared.$blue-base-color 130%) padding-box
$layer2: linear-gradient(60deg, shared.$dark-gray-base-color 0%, shared.$dark-gray-base-color 30%, shared.$blue-base-color 120%) border-box

.dashboard-bar
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    position: sticky

.search-input
    background-color: shared.$black-base-color
    border: 1px solid transparent
    border-radius: 1em
    padding: 0.7em 4.5em 0.7em 4.5em
    font-size: 1.5em
    color: white
    &:focus
        background: $layer1, $layer2
        outline: 1px solid transparent
        caret-color: shared.$blue-base-color
    &::placeholder
        color: shared.$blue-base-color
    &:focus::placeholder
        color: #555

.magnifying
    position: relative
    left: 3em

.button-bar
     background-color: #444444
     border: 1px solid transparent
     border-radius: 1em
     
     &:hover
        color: shared.$blue-base-color !important
        scale: 1.2
        transition: 200ms

