@use '../styles/shared'

    
.dashboard-bar
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.search-input
    background-color: shared.$black-base-color
    border: none
    border-radius: 1em
    padding: 0.5em 3em 0.5em 3em
    color: white
    &:focus
        outline: 1px solid shared.$blue-base-color
